fastapi
uvicorn[standard]
sqlalchemy>=2.0
alembic
pymysql
cryptography
pydantic>=2
pydantic[email]
pydantic-settings
pyjwt
passlib[bcrypt]
bcrypt<4.0
python-multipart
python-magic-bin; platform_system == "Windows"
slowapi
pytest
pytest-asyncio
httpx
